body {
  font-size: 16px;
  height: 100dvh;
}
#root {
  height: 100%;
}
form {
  height: 85%;
  width: 50%;
  padding: 2% 5% 2% 5%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid rgba(0,0,0, 0.5);
}
.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
