button {
    border-radius: 15px;
    width: 10%;
    padding: 1% 2%;
    text-align: center;
    border: none;
    font-weight: 800;
    border: 1px solid rgba(0, 0, 0, 0.2);
    transition: transform 0.15s ease-in-out;
    background-color: white;
    font-weight: 800;
    color: white;
}
button:hover {
    cursor: pointer;
    transform: scale(1.1);
}
.add {
    color: black;
}
.remove {
    background-color: #CF1020;
}
.section-title {
    width: 100%;
    text-align: center;
    background-color: rgba(155, 155, 155, 0.1);
    padding: 1%;
}